/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.bg-black {
    background-color: #000;
}

.bg-red {
    background-color: red;
}

.bg-grey1 {
    background-color: #e6e6e6;
}

.bg-grey2 {
    background-color: #edece3;
}

.bg-grey3 {
    background-color: #ccc;
}

.bg-yellow1 {
    background-color: #f5ecd1;
}

h2,
h4 {
    font-size: 20px;
}

h2 {
    margin-bottom: 16px;
}

h3 {
    margin-bottom: 8px;
}

h4 {
    margin-bottom: 4px;
    line-height: 24px;
}

p {
    line-height: 22px;
    font-size: 16px;
}

@media (min-width: 992px) {
    p {
        line-height: 26px;
        font-size: 18px;
    }
}

.flex-container {
    overflow: hidden;
}

.flex-container + .flex-container {
    margin-top: 14%;
}

.flex-container [class^="col"] + [class^="col"] {
    margin-top: 14%;
}

@media (min-width: 600px) {
    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .flex-container + .flex-container {
        margin-top: 10%;
    }
    .flex-container.equal-cols .column {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .flex-container.row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex-container [class^="col"] + [class^="col"] {
        margin-top: 0;
    }
    .flex-container .offset-left {
        padding-left: 10%;
    }
    .col-1-md {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
    }
    .col-2-md {
        -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%;
    }
    .reversed {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .align-right {
        margin-left: auto;
    }
}

header {
    position: relative;
    margin-bottom: 14%;
}

header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header .column:nth-of-type(2) {
    position: relative;
    text-align: right;
}

header .burger-btn {
    margin-right: 5%;
    width: 36px;
}

header .burger-btn img {
    width: 100%;
}

header .i18-btn {
    position: absolute;
    right: calc(2% + 8px);
    bottom: -20px;
    color: #000;
    line-height: 14px;
    font-size: 10px;
    text-decoration: none;
}

header .i18-btn:hover, header .i18-btn:active, header .i18-btn:focus {
    color: currentColor;
    text-decoration: none;
}

@media (min-width: 600px) {
    header {
        margin-bottom: 14%;
    }
    header .column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
    }
}

@media (min-width: 992px) {
    header .i18-btn {
        bottom: -40px;
        right: calc(1.5% + 15px);
        line-height: 27px;
        font-size: 19px;
    }
    header .burger-btn {
        margin-right: 16px;
        width: 64px;
    }
    header .burger-btn img {
        width: 64px;
    }
}

footer {
    margin-top: 14%;
}

footer .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 13vw;
}

footer .column img {
    max-height: inherit;
}

footer .column:first-of-type {
    margin-bottom: 14%;
}

footer .column:first-of-type img {
    max-width: 42%;
}

footer .column:last-of-type img:last-child {
    margin-left: auto;
}

@media (min-width: 600px) {
    footer {
        margin-top: 10%;
    }
    footer .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    footer .column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-bottom: 4px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-height: 8.5vw;
    }
    footer .column:first-of-type {
        margin-bottom: 0;
    }
    footer .column:last-of-type {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    footer .column:last-of-type img:last-child {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    footer .column {
        max-height: 106px;
    }
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #000;
    padding: 32px 32px;
    line-height: 30px;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu.opened {
    display: block;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover, .menu a:active, .menu a:focus {
    color: #fff;
    text-decoration: none;
}

.menu .content {
    position: relative;
    background-image: url("/images/white-cell-desktop.svg");
}

.menu ul > ul {
    margin-top: 20px;
}

.menu .ctas {
    position: absolute;
    right: 0;
    width: 40px;
    text-align: center;
}

.menu .menu-close {
    width: 32px;
}

.menu .i18-btn {
    position: absolute;
    bottom: -25px;
    left: 0;
    font-size: 11px;
}

.menu .bg-color1 {
    color: #FF8080;
}

.menu .bg-color1:hover, .menu .bg-color1:active, .menu .bg-color1:focus {
    color: #FF8080;
}

.menu .bg-color2 {
    color: #FFBF80;
}

.menu .bg-color2:hover, .menu .bg-color2:active, .menu .bg-color2:focus {
    color: #FFBF80;
}

.menu .bg-color3 {
    color: #FFFF80;
}

.menu .bg-color3:hover, .menu .bg-color3:active, .menu .bg-color3:focus {
    color: #FFFF80;
}

.menu .bg-color4 {
    color: #FFFFA0;
}

.menu .bg-color4:hover, .menu .bg-color4:active, .menu .bg-color4:focus {
    color: #FFFFA0;
}

.menu .bg-color5 {
    color: #FFFFB9;
}

.menu .bg-color5:hover, .menu .bg-color5:active, .menu .bg-color5:focus {
    color: #FFFFB9;
}

.menu .bg-color6 {
    color: #FFFFD5;
}

.menu .bg-color6:hover, .menu .bg-color6:active, .menu .bg-color6:focus {
    color: #FFFFD5;
}

.menu .bg-color7 {
    color: #BFFF80;
}

.menu .bg-color7:hover, .menu .bg-color7:active, .menu .bg-color7:focus {
    color: #BFFF80;
}

.menu .bg-color8 {
    color: #80FF80;
}

.menu .bg-color8:hover, .menu .bg-color8:active, .menu .bg-color8:focus {
    color: #80FF80;
}

.menu .bg-color9 {
    color: #80FFBF;
}

.menu .bg-color9:hover, .menu .bg-color9:active, .menu .bg-color9:focus {
    color: #80FFBF;
}

.menu .bg-color10 {
    color: #80FFFF;
}

.menu .bg-color10:hover, .menu .bg-color10:active, .menu .bg-color10:focus {
    color: #80FFFF;
}

.menu .bg-color11 {
    color: #82C2FF;
}

.menu .bg-color11:hover, .menu .bg-color11:active, .menu .bg-color11:focus {
    color: #82C2FF;
}

.menu .bg-color12 {
    color: #8080FF;
}

.menu .bg-color12:hover, .menu .bg-color12:active, .menu .bg-color12:focus {
    color: #8080FF;
}

.menu .bg-color13 {
    color: #BF80FF;
}

.menu .bg-color13:hover, .menu .bg-color13:active, .menu .bg-color13:focus {
    color: #BF80FF;
}

@media (min-width: 600px) {
    .menu {
        line-height: 36px;
        font-size: 28px;
    }
    .menu ul > ul {
        margin: 0 0 0 20px;
    }
    .menu .i18-btn {
        bottom: -32px;
    }
}

@media (min-width: 992px) {
    .menu {
        line-height: 40px;
        font-size: 32px;
    }
}

.slider {
    position: relative;
    margin: 0 auto 50px;
    border-radius: 4px;
    overflow: hidden;
    outline: none;
}

.slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform ease-out .5s;
    transition: -webkit-transform ease-out .5s;
    transition: transform ease-out .5s;
    transition: transform ease-out .5s, -webkit-transform ease-out .5s;
}

.slide {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
}

.slider-controls .previous,
.slider-controls .next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-controls .previous img,
.slider-controls .next img {
    width: 30px;
}

.slider-controls .previous {
    left: 20px;
}

.slider-controls .next {
    right: 20px;
}

.home main .container {
    background-image: url("/images/multicolor-cell.svg");
}

.home .hero p {
    margin-right: 10%;
}

.home .events h3 {
    margin: 32px 0 16px;
}

.home .events h4 {
    max-width: 50%;
}

.home .events li + li {
    margin-top: 16px;
}

.home .events span {
    display: block;
    line-height: 20px;
    font-size: 14px;
}

@media (min-width: 600px) {
    .home main .container {
        background-image: url("/images/multicolor-cell-desktop.svg");
    }
    .home main p {
        margin-right: 10%;
    }
    .home .events h3 {
        margin-top: 0;
    }
    .home .events h4 {
        max-width: none;
    }
}

@media (min-width: 992px) {
    .home .hero p {
        line-height: 28px;
        font-size: 20px;
    }
}

.program h2,
.program h3 {
    font-size: 32px;
}

.program h2 {
    margin-bottom: 18%;
    line-height: 1;
}

.program .event-card img {
    width: 100%;
}

.program .event-card span {
    display: block;
    line-height: 20px;
    font-size: 16px;
}

@media (min-width: 600px) {
    .program h2,
    .program h3 {
        font-size: 18px;
    }
    .program h2 {
        margin-bottom: 10%;
        line-height: 1;
    }
    .program .event-card span {
        line-height: 18px;
        font-size: 14px;
    }
    .program .event-card .description {
        margin-top: 4px;
        padding: 0 4%;
    }
}

@media (min-width: 992px) {
    .program h2,
    .program h3 {
        font-size: 32px;
    }
    .program .event-card span {
        line-height: 20px;
        font-size: 16px;
    }
    .program .event-card .description {
        margin-top: 4px;
        padding: 0 4%;
    }
}

.landmarks h2 {
    line-height: 40px;
    font-size: 32px;
}

.landmarks img {
    width: 100%;
}

@media (min-width: 600px) {
    .landmarks h2 {
        line-height: 1;
        font-size: 24px;
    }
    .landmarks p {
        padding-right: 0;
        line-height: 20px;
        font-size: 14px;
    }
    .landmarks .col-1-md {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        margin-left: 3%;
    }
    .landmarks .reversed .col-1-md {
        margin: 0 3% 0 0;
    }
}

@media (min-width: 992px) {
    .landmarks h2 {
        font-size: 32px;
    }
    .landmarks p {
        line-height: 22px;
        font-size: 16px;
    }
    .landmarks .col-1-md {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        margin-left: 3%;
    }
    .landmarks .reversed .col-1-md {
        margin: 0 3% 0 0;
    }
}

.organization h2 {
    line-height: 1;
    font-size: 32px;
}

.organization p {
    padding-right: 0;
}

.event h2,
.event .subtitle {
    margin-bottom: 16px;
}

.event h2 {
    font-size: 32px;
}

.event p {
    padding: 0;
}

.event .subtitle span {
    display: block;
    line-height: 28px;
    font-size: 22px;
}

.event .quote {
    margin-bottom: 10px;
    font-style: italic;
}

.event .block {
    margin-bottom: 24px;
}

.event .event-info h3 {
    font-size: 20px;
}

.event .event-info p {
    line-height: 18px;
    font-size: 14px;
}

.event .event-info p + p {
    margin-top: 4px;
}

.event .event-info .block + .block {
    margin-top: 5%;
}

@media (min-width: 600px) {
    .event .col-2-md {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .event .subtitle span {
        line-height: 32px;
        font-size: 28px;
    }
    .event .event-info p {
        line-height: 20px;
        font-size: 16px;
    }
}

ol {
    margin: 24px 0;
    counter-reset: counter;
    line-height: 22px;
    font-size: 16px;
}

ol li {
    counter-increment: counter;
}

ol li:before {
    content: counter(counter) ". ";
    display: inline;
}

button {
    outline: 0;
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body * {
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: normal;
}

.content {
    padding: 16px;
}

.container {
    background-image: url("/images/grey-cell.svg");
    background-size: 100%;
    background-repeat: repeat-y;
    padding: 0 2%;
}

@media (min-width: 600px) {
    .container {
        background-image: url("/images/grey-cell-desktop.svg");
        padding: 0 1.5%;
    }
}

@media (min-width: 992px) {
    ol {
        line-height: 26px;
        font-size: 18px;
    }
    .content {
        margin: auto;
        max-width: 1200px;
    }
}


/*# sourceMappingURL=app.css.map*/
