@font-face { font-family: Helvetica Neue; src: url('/fonts/HelveticaNeue-Medium.otf'); }

a {
    color: #0d0d0d!important;

}

footer .column:first-of-type img {
    max-width:100%!important;
}

footer .column {
    align-items: center!important;
}

footer .column a {
    max-height: inherit;
    display: inline;
}


footer .column a img {
    max-height: inherit;
}

footer .column:last-of-type a:last-child {
    margin-left: auto;
}

.embed-container
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header .i18-btn-el {
    position: absolute;
    right: calc(2% + 35px)!important;
    bottom: -20px;
    color: #000;
    line-height: 14px;
    font-size: 10px;
    text-decoration: none;
    padding-right: 5px;
}

.big-font {
    font-size: 32px;
    line-height: 32px;
}

@media (max-width: 992px) {
    header .i18-btn-el {
        bottom: -40px;
        right: calc(1.5% + 25px)!important;
        line-height: 27px;
        font-size: 19px;
        padding-right: 5px;
    }

    .big-font {
        font-size: 24px;
        line-height: 24px;
    }


}
@media (min-width: 992px) {
    .event .event-info {
        padding-top: 50px;
    }
}

.span-brake {
    display: block;
}
